<%= content_for :content do %>
<h1>Transaction categories</h1>
<%= link_to "Add new", new_kind_path %>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Created_add</th>
        <th></th>
      </tr>

      <% @kinds.each do |kind| %>

          <tr>
            <td><%= kind.id %></td>
            <td><%= kind.name %></td>
            <td><%= kind.created_at %></td>
            <td><%= link_to "delete", kind, method: :delete,
                    data: { confirm: "You sure?" } %></td>
          </tr>

      <% end %>
    </table>


<% end %>
