<%= content_for :content do %>
    <h3>Categories</h3>
    <%= render 'kinds/new' %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Is require?</th>
        <th>Created_add</th>
        <th></th>
      </tr>

      <% @kind.each do |kind| %>

          <tr>
            <td><%= kind.name %></td>
            <td><%= kind.isRequire %></td>
            <td><%= kind.created_at %></td>
            <td><%= link_to "edit", edit_kind_path(kind) %></td>
            <td><%= link_to "delete", kind, method: :delete,
                    data: { confirm: "You sure?" } %></td>
          </tr>

      <% end %>
    </table>
<% end %>
