<%= content_for :content do %>

<%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>

    <h3>Charts</h3>

    <p>
    <%= link_to "All time", :controller => :charts, :action => :index  %> /
    <%= link_to "3 month", three_month_path  %> /
    <%= link_to "Month", month_path  %> /
    <%= link_to "Today", today_path  %>
    </p>

    <h4>Statistic</h4>
    <table class="table ">
      <tr>
        <th>Transactions count</th>
        <th>Money</th>
      </tr>
      <tr>
        <td><%= @transaction.count %></td>
        <td> - <%= @transaction.sum(:price) %></td>
      </tr>
    </table>

    <h4>Transaction</h4>
    <% if @transaction %>
    <%= column_chart @transaction.group(:name).sum(:price) %>
    <% else %>
        <P>NO DATA</P>
    <% end  %>
    <h4>Transaction by data</h4>
    <%= area_chart @transaction.group(:kind_name).group_by_day(:created_at).sum(:price) %>
    <h4>Category</h4>
    <%= pie_chart @transaction.group(:kind_name).sum(:price) %>




<% end %>