<%= content_for :content do %>
    <h3>Edit transaction</h3>
    <%= form_for @transaction do |f| %>
        <%= render 'shared/transaction_error_messages' %>
        <ul class="nav nav-pills">
          <li><%= f.label :name, class: 'form-control' %></li>
          <li><%= f.text_field :name, class: 'form-control' %></li>
          <li><%= f.label :price, class: 'form-control' %></li>
          <li><%= f.text_field :price, class: 'form-control' %></li>
          <li><%= f.select(:kind_id, Kind.where(:user_id => @user.id).collect {|p| [ p.name, p.id ] },{},{:class => 'form-control' })%></li>
          <li><%= f.submit "Update", class: "btn btn-primary" %></li>
        </ul>
<% end %>
<% end %>