<%= content_for :content do %>
    <h3>Transactions</h3>


    <%= render 'transactions/new' %>

    <%= will_paginate @transaction %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Created_add</th>
        <th></th>
      </tr>

      <% @transaction.each do |transaction| %>
          <tr>
            <td><%= transaction.name %></td>
            <td>
              <%= if transaction.kind
                    transaction.kind.name
                  else
                    "Category was deleted"
                  end %>
            </td>
            <td> - <%= transaction.price %></td>
            <td><%= transaction.created_at %></td>
            <td><%= link_to "edit", edit_transaction_path(transaction) %></td>
            <td><%= link_to "delete", transaction, method: :delete,
                    data: { confirm: "You sure?" } %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @transaction %>
    <%= form_tag data_filter_path, :method => :get do %>

        <ul class="nav nav-pills">
        <li><i class="fa fa-calendar form-control"></i></li>
        <li><%= text_field_tag 'start', 'Start date', class: "datepicker form-control" %></li>
        <li><%= text_field_tag 'end', 'End date', class: "datepicker form-control" %></li>
        <li><%= submit_tag 'Select', class: "btn btn-primary form-control" %></li>
       <% if !current_page?(transactions_path)  %> <span class="close"><%= link_to "<i class='fa fa-times'></i>".html_safe, transactions_url, class:"" %></span><% end %>
        </ul>

    <% end %>

<% end %>