<h1><%= current_user.name %><span class="balance"><%= current_user.balance %></span></h1>
<%= gravatar_for current_user %>
<ul class="nav nav-pills nav-stacked">
  <li> <%= link_to "Home", root_path %></li>
  <li> <%= link_to "Show profile", current_user %></li>
  <li> <%= link_to "Edit profile", edit_user_path(current_user) %></li>
  <li> <%= link_to "Log out", logout_path, method: "delete" %></li>
  <li> <%= link_to "Refill", "#"%></li>
  <li> <%= link_to "Show last refills", "#"%></li>
</ul>
