
<ul class="nav nav-pills nav-stacked">
  <li> <%= link_to '<i class="fa fa-user fa-fw"></i> &nbsp;Profile'.html_safe, edit_user_path(current_user) %></li>
  <li> <%= link_to '<i class="fa fa-rocket fa-fw"></i> &nbsp;Transactions'.html_safe, transactions_path%></li>
  <li> <%= link_to '<i class="fa fa-external-link fa-fw"></i> &nbsp;Categories'.html_safe, kinds_path %></li>
  <li> <%= link_to '<i class="fa fa-bar-chart fa-fw"></i> &nbsp;Charts'.html_safe, chart_path %></li>
  <li> <%= link_to '<i class="fa fa-gears fa-fw"></i> &nbsp;Log out'.html_safe, logout_path, method: "delete" %></li>
</ul>

</ul>
